<div class="modal fade " id="roboModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog  " id="teste" role="document" > 
	<div class="modal-content  " style="top: 0%; left: 0%; transform: translate(0%, 0%); width: 100%; padding: 0; margin:0;"> 
	 <div class="card ">
	  <div class="modal-header  card-header bg-info text-white text-center border-info "> 
		<h4 class="modal-title" id="exampleModalLabel">Robô</h4> 
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
		  <span aria-hidden="true">&times;</span> 
		</button> 
	  </div> 
	  <div class="modal-body card-body p-3"> 
 			<p> 
 			O "Robô" é a forma como apelidamos o algoritmo criado com o propósito de gerar automaticamente um agendamento de horários com o menor número possivel de provas de segunda chamada.
 			</p>  
 			<p>
 			Ao clicar no botão do "Robô", o algoritmo irá ler as turmas que foram movidas previamente para os horários e irá buscar pelo metódo de força bruta uma solução que retorne um resultado inferior de provas de segunda chamada que o obtido com a distribuição manual. 
 			</p>
 			<p>
 			Caso encontre uma solução melhor, será exibido na página de resultado a alocação que ele obteve, caso ele não encontre uma solução melhor, será exibido a solução obtida pela alocação realizada manualmente.
 			</p>
	  </div> 
	  <div class="modal-footer bg-light"> 
		<button type="button" class="btn btn-info btn-lg" data-dismiss="modal">Fechar</button> 
	  </div> 
	</div> 
</div>
	</div>
	</div>
