<div class="modal fade " id="sobreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog  modal-xl" id="teste" role="document" > 
	<div class="modal-content  " style="top: 0%; left: 0%; transform: translate(0%, 0%); width: 100%; padding: 0; margin:0;"> 
	<div class="card">
	  <div class="modal-header  bg-info card-header text-white text-center border-info">  
		<h4 class="modal-title" id="exampleModalLabel"> Sobre o Agendador de Horários de Prova</h4> 
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
		  <span aria-hidden="true">&times;</span> 
		</button> 
	  </div> 
	  <div class="modal-body card-body p-3"> 
	  
	  
	  
	  <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header bg-dark" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"  aria-controls="collapseOne" >
            <i class="material-icons">
                person_outline
            </i> Autor
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body lead">
        Este sistema foi desenvolvido por <strong>Filipe Rodrigues Cardoso da Silva</strong>. No decorrer do ano de 2019, com objetivo de ser um protótipo funcional para o Trabalho de Conclusão de Curso de Análise de Sistemas Informatizados pela Faculdade de Educação Tecnológica do Estado do Rio de Janeiro.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-dark" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="material-icons">
                emoji_objects
            </i> Objetivos
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body lead">
        O Agendador tem como finalidade criar horários de provas universitárias de forma que o menor número possível de alunos tenham que realizar provas de segunda chamada, em decorrencia de ter duas ou mais provas de diferentes turmas num mesmo horário.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-dark" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"  aria-controls="collapseThree">
            <i class="material-icons">
                developer_mode
            </i> Desenvolvimento
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body lead">
        O sistema foi desenvolvido usando MariaDB para o banco de dados, PHP no backend e HTML, CSS e JavaScript no frontend. Utilizando o framework Bootstrap para criar uma interface mais coesa e simples e a biblioteca Cytoscape.js para possibilitar gerar grafos interativos.
      </div>
    </div>
  </div>
</div>
	  
	  </div> 
	  <div class="modal-footer bg-light"> 
		<button type="button" class="btn  btn-info btn-lg" data-dismiss="modal">Fechar</button> 
	  </div> 
	</div> 
</div>
</div>
	</div>
