body {
	font-family: "Roboto", sans-serif;
	margin-bottom: 100px;
	min-width: 400px;
	min-height: 235px;
	animation-name: corpo;
	animation-duration: 2s;
	animation-iteration-count: 1; /*infinite;*/
}

@keyframes corpo {
	0% {
		opacity: 0;
	}
	85% {
		opacity: 15;
	}
	100% {
		opacity: 100;
	}
}

.ant-circulo .card-body{
	margin-top: -30px;
	margin-bottom: -30px;
	margin-left: -37px;
	margin-right: -45px;
}
.ant-circulo .card-body .card-footer{
	margin-top: -30px;
}

.circulo {
	/*width: 40%;
	height: 180px;
	border-radius: 5%;
	border: 3px solid #eeeeee;
	z-index: 5;
	background: #ffffff;
	box-align: center;
	position: fixed;
	top: 0%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/
	transition: 1s;
}

.circulo input {
	 /*width: 60%;*/
}

.valor {
	position: relative;
	margin: 0 auto;
	z-index: 10;
	width: 100%;
	height: 100%;
	text-align: center;
}

.inter-circulo {
	position: relative;
	top: 0%;
	padding: 0 auto;
	/*height: 50%;*/
	vertical-align: center;
}

.semi-circulo {
	width: 100%;
	height: 50%;
	border-bottom-left-radius: 5%;
	border-bottom-right-radius: 5%;
	z-index: 1;
	background: rgba(255, 255, 255, 0);
	box-align: center;
	position: relative;
	/* padding-top: 10%; */
	margin-top: 0%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%);

	transition: 1s;
}
#i-s {
	color: #ffffff;
	margin: 0 auto;
	
	font-size: 18px;
}
#i-t {
	color: #ffffff;
	font-size: 18px;
	margin: 0 auto;
}

.inters-s,
.inters-t {
	background-color: transparent;
	font-size: 23px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	transition: 0.5s;
}

.btn {
	font-weight: bold;
}

.modal-title {
	text-align: justify;
}
.modal-content {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	width: 350px;
	padding-top: 0;
}
.modal-footer {
	background-color: #bdbdbd80;
	margin-bottom: 0;
}
.circulo-m {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	z-index: 5;
	background: #ffffff;
	box-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boxB {
	/*  Horario*/
	width: 100%;
	min-height: 100px;
	padding-top: 12%;
	padding-bottom: 12%;
	margin: 0 auto;
	margin-bottom: 5px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	text-align: left;
	position: relative;
	/*border-color: red;
    border-width: 3px;
    border-style: dashed;*/
}

.boxA .drag {
	width: 130px;
	transition: 1s;
}

.boxB .drag {
	margin-left: 30px;
	margin-right: -25px;
	width: 90px;
	transition: 1s;
}

.circulo-hora {
	border-radius: 50%;
	position: absolute;
	bottom: 50%;
	top: 50%;
	margin-bottom: auto;
	margin-top: auto;
	width: 50px;
	height: 50px;
	z-index: 3;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	padding-top: 3%;
	margin-left: -25px;
	background-color: white;
}

/* Cabeçalhos */
.header,
.titulo {
	min-height: 60px;
	top: -1px;
	background-color: #424242;
	padding-top: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

.titulo {
	width: 620px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
}

#titulo-turma {
	position: fixed;
	width: 320px;
	z-index: 20;
}

#titulo-horarios {
	position: fixed;
	/* Safari */
	width: 400px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;
	transform: translate(-10%, -16%);
	z-index: 20;
}

/* Lista de Turmas */
.boxA {
	min-height: 100px;
	overflow-y: auto;
	max-height: 80%;
	position: fixed;
	top: 60px;
	background-color: #bdbdbd; /*  #00c853;*/
	border: 3px solid #bdbdbd;
	width: 320px;
	padding: 10px;
	-webkit-border-bottom-right-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	border-bottom-right-radius: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boxA::-webkit-scrollbar {
	width: 12px;
}

.container-h {
	/*  Lista de Horarios*/
	position: absolute;
	right: 0px;
	top: 0px;
	box-align: center;
	/*border-color: black;
    border-width: 3px;
    border-style: dashed;*/
	width: 320px;
	text-align: center;
	margin-bottom: 100px;
}

button.drag {
	height: 70px;
	transition: 1s;
}

button.drag-op {
	width: 90px;
}

button.drag-op:hover {
	border-color: #616161; /* #546e7a;*/
	background-color: white;
	color: #616161;
	transition: 0.3s;
}

.drag:hover {
	color: white;
	transition: 0.3s;
}

.drag {
	/* Turmas*/
	width: 130px;
	/* Largura
    padding: 2px; */
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	/*margin-right: 5px;*/
	line-height: 50px;
	border-width: 3px;
	border-color: #616161;
	border-style: solid;
	background-color: #616161;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	color: white;
	z-index: 12;

	transition: 2s;
}

.drag-sm {
	width: auto;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.drag-btn-primary {
	width: auto;
	height: auto;
	border-color: rgba(76, 175, 79, 0);

}

.custom-number {
	width: 95px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	border: 3px solid rgba(76, 175, 79, 0.459); /* #14fa0c46; */
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-left-radius: 30px;
	-webkit-border-top-left-radius: 30px;
	-moz-border-radius-topleft: 30px;
	border-top-left-radius: 30px;
}

input:focus,
input {
	box-shadow: 0 0 0 0;
	border: 0 none;
	outline: 0;
}

.tooltip-inner {
	font-size: 15px;
}

.plus {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	/* border: 3px solid darkgrey;*/
	z-index: 5;
	background: #9e9e9e;
	box-align: center;
	position: fixed;
	top: 90%;
	right: 5%;
	margin-left: 50%;
	transform: translate(25%, -125%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plus i {
	font-size: 60px;
	box-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.horas {
	padding: 15%;
	margin: 0 auto;
}

.a {
	background: rgb(100, 233, 105);
	/*width: 750px; ;
        height: 480px; */
	width: 75%;
	height: 75%;
	border-width: 2px;
	border-color: white;
	border-style: dashed;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	box-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#file {
	margin: 0px auto;
}

/*
.ok {
    position: absolute;
    bottom: 6px;
    margin: 0 auto;
    right: 45%;
    left: 45%;
    opacity: 1.4;
}*/

.caixa {
	background: rgba(0, 230, 118, 0.7);
	/*width: 750px;
        height: 480px;*/
	width: 100%;
	height: 220%;
	border-width: 1px;
	border-color: rgba(0, 230, 118, 1);
	border-style: solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	box-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.center {
	/* width: 200px;*/
	width: 20%;
	margin: 10% auto;
	box-align: center;
}

.sbtn {
	/*width: 158px;*/
	width: 30%;
	margin: 0 auto;
	/*bottom: 15%;*/
	top: 80%;
}

#validMat {
	padding: 20px;
}

button i,
button {
	position: relative;
	text-align: center;
	vertical-align: middle;
}

.dropzone {
	position: fixed;
	top: 0;
	left: 0;
}

footer {
	background-color: #ffffff; /* #424242; */
	width: 100%;
	/*height: 100px;
	padding-top: 10px;*/
	padding-bottom: 0px;
	display: block;
	position: fixed;
	bottom: 0;
	/* transform: translate(0%, 600px); */
	z-index: 12;
	color: white;
}

.file-drag {
	text-align: center;
	width: 70%;
	margin-top: 140px;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
	/**/
}

.input-aluno {
	position: relative;
	height: 40px;
	vertical-align: middle;
}

.test {
	border: 3px solid #f44336;
}

.center-loading {
	position: relative;
	text-align: center;
	right: 0%;
	margin-top: 20%;
	transform: translate(-5%, -50%);
}

.bg-sucesso {
	background-color: rgba(76, 175, 79, 0.602);
}

.bg-erro {
	background-color: rgba(244, 67, 54, 0.602);
}

#footer {
	transition: top 2s;
	/*animation-iteration-count: 1; infinite;*/
}

.bot {
	animation-name: robot;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	/**/
	border-radius: 50%;
	position: absolute;
	bottom: 70%;
	left: 30%;
	width: 60px;
	height: 60px;
	transform: translate(-50%, -50%);
}

@keyframes robot {
	0% {
		box-shadow: 0px 0px 4px 2px #fff;
	}
	50% {
		box-shadow: 0px 0px 4px 2px #bdbdbd;
	}
	100% {
		box-shadow: 0px 0px 4px 2px #fff;
	}
}
.card{
   animation-name: card;
	animation-duration: 4s;
	animation-iteration-count: 1; /*infinite;*/
}

.card-deck {
	width: 93%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.card-deck .card {
	margin: 1%;
	background-color: #bdbdbd70;
	min-width: 30%;
	max-width: 30%;
	height: 420px;
	animation-name: card;
	animation-duration: 4s;
	animation-iteration-count: 1; /*infinite;*/
}

@keyframes card {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 80;
	}
	100% {
		opacity: 100;
	}
}

.card-deck .card-add {
	margin: 2%;
	background-color: #4caf5070;
	min-width: 30%;
	max-width: 30%;
}
.card-deck .card .card-body {
	background-color: none;
	width: 95%;
	height: 180;
	transform: translate(2.5%, 2.5%);
	padding: 0;
}

.card-deck .card .card-body .btn-group {
	width: 100%;
	left: 0;
}

.card-deck .card .card-body .btn-group button {
	font-size: 10pt;
	margin: 0 auto;
	margin-bottom: 15px;
}
@media screen and (max-width: 800px) {
	.card-deck {
		position: relative;

		width: 800px;
		transform: translate(0, 0);
		top: 0;
		left: 0;
	}
}
@media screen and (max-width: 1350px) {
	.card-deck .card {
		min-width: 26.66666%;
		max-width: 26.66666%;
	}
	.card-deck .card .card-body .btn-group button {
		font-size: 0pt;
		margin: 0 auto;
		margin-bottom: 15px;
	}
}
.card-deck .card div {
	text-align: center;
	box-align: center;
	vertical-align: center;
}
.card-title {
	font-weight: bolder;
	padding-top: 5%;
	padding-bottom: 5%;
}
.card-deck .card .capa {
	background-color: white;
	width: 95%;
	height: 180;
	transform: translate(2.5%, 4%);
}
.card-deck .card .capa .card-icon {
	margin-bottom: 50px;
	margin-top: 50px;
}

a i {
	vertical-align: center;
	box-align: center;
	position: relative;
	top: 50%;
	transform: translate(-10%, -10%);
}
.navbar .navbar-text {
	margin-left: 0%;
}
.navbar .navbar-text-custom {
	margin-left: -10%;
}

#graph-container {
	position: relative;
	text-align: left;
	left: 0;
	top: 0;
	transform: translate(-50%, 0%);
	width: 800px;
	height: 450px;
}

#graph-container .shadow {
	box-shadow: 3px 3px 5px 3px rgb(82, 82, 82);
}

#tabelas {
	overflow-y: auto;
	max-height: 450px;
}

.slot-container {
	position: relative;
	margin: 0 auto;
	box-align: center;
	max-width: 90%;
}

.slots-horarios {
	width: 33.3333%;
	margin-top: 10px;
}
.robo-row {
	width: 70%;
	margin-left: 10%;
	box-align: center;
}
.robo-row img {
	width: 10%;
	height: auto;
	margin-right: -20px;
}

.balao {
	background: rgb(29, 29, 29);
	color: white;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	*/
	border-radius: 70px 30px 30px 70px;
	width: 90%;
	height: 130px;
	left: 50%;
	transform: translateX(-50%);
	/* Position relative para a seta não exceder os limites do balão, já que vamos usar position absolute nele */
	position: relative;
}
.balao h1,
.balao h3 {
	transform: translateY(50%);
}
.balao:before {
	/* content necessário para a criação de um elemento vazio */
	content: "";

	width: 0;
	height: 0;
	/* position: absolute para manipularmos a posição da seta */
	position: absolute;

	/* Right com valor negativo para ele ficar para fora do balão de dialogo */
	left: -35px;
	top: 10px;

	/* E aqui o truque com as bordas */
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-right: 90px solid rgb(29, 29, 29);

	border-radius: 90%;
}

@media all {
	div.nova-pagina {
		display: block;
	}
}
@media print {
    a {
        color: black;
    }
    body {
        font-family:Georgia,Times,"Times New Roman",serif;
    }
   
	p {
		widows: 3;
		orphans: 3;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		text-align: justify !important;
		font-size: 1.3em;
		line-height: 1.5em;
		font-weight: none;
		text-indent: 1.5em;
		margin-left: 1cm;
		margin-right: 1.5cm;
	}
	ul li{
	    text-align: justify !important;
	    text-indent: 1.5em;
	    font-size: 1.3em;
	    margin-left: 1cm;
		margin-right: 1.5cm;
	}
	div p {
		max-width: 85ch;
		font-weight: none;
		text-indent: 1.5em;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	#header {
		font-weight: bold;
	}
	h1,
	h2 {
	    break-before: page !important;
	    display: block;
		font-size: 1.5em;
	}
	thead {
		display: table-row-group;
	}
	.desc-graph {
	    
	    
	    
	    
	    margin-bottom: 3cm;
	}
	.desc-graph p{
	clear: both;
	page-break-before: always !important;
	    break-before: always !important;
	    page-break-after: always !important;
	    break-after: always !important;
	    widows: 1;
		orphans: 1;
		top: 0cm;
	}
	#graph-container {
	    clear: both;
		transform: translate(-30%, 0%);
		width: 0;
		height: 0;
		/*page-break-before: always !important;
		page-break-after: always;*/
		box-shadow: none;
	    border: none;
	    margin-left: -10%;
	    margin-bottom: 1cm;
	    position: relative;
        top: -3cm;
        break-inside: always;
	}
	#tabelas {
	    top: -3.5cm;
		width: 17cm;
		position: relative;
		overflow-y: none;
		max-height: none;
	}
    
    .desc-tabelas{
        transform: translateY(-140%);
        
    }
	.nova-pagina {
		height: 100%;
		display: block;
		position: relative;
		margin-bottom: 50%; 
		top: 0;
		bottom: 0;
		page-break-after: always;
	}
	.slot-container {
		margin-top: 0.4cm;
		/*page-break-after: always;*/
		max-width: 80%;
	}
    .slot-container p {
        margin-left: -8%;
		margin-right: -8%;
    }
	div p {
		page-break-inside: avoid;
	}
	.slots-horarios {
		margin-top: 1cm;
		width: 100%;
		box-align: center;
		display: block;
		-webkit-print-color-adjust: exact;
		color-adjust: exact;
	}
	.slots-horarios li {
		background-color: #ffffff;
	}
	div {
		page-break-inside: always;
	}
	.slots-horarios span {
		border: none;
	}
	.slots-horarios p {
		widows: 3;
		orphans: 3;
	}
	
}

@page {
	margin-left: 10%;
	margin-top: 10%;
	margin-right: 7.5%;
	margin-bottom: 10%;
}
